{
  "parser"  : "babel-eslint",
  "extends" : [
    "standard",
    "standard-react"
  ],
  "plugins": [
    "babel",
    "react"
  ],
  "parserOptions": {
    "ecmaFeatures": {
      "jsx": true
    }
  },
  "env"     : {
    "browser" : true
  },
  "globals" : {
    "__DEV__"      : false,
    "__PROD__"     : false,
    "__DEBUG__"    : false,
    "__COVERAGE__" : false,
    "__BASENAME__" : false
  },
  "rules": {
    "indent": [2, 2],
    "react/prop-types": 0,
    "semi" : [2, "always"],
    "react/jsx-no-bind": [1, {"allowArrowFunctions": true}],
    "generator-star-spacing": 0,
    "babel/generator-star-spacing": 1,
    object-curly-spacing: ["error", "never"],
    key-spacing: ["error", { "align": "value" }]
  }
}
