.DS_STORE
*.log
frontend/node_modules
frontend/.env
frontend/.env.*

frontend/dist
frontend/build
frontend/.gitignore
coverage

backend/node_modules
backend/postman_collection.json
backend/.gitignore
backend/test
backend/vendor
backend/attendance/uploaded_files
backend/attendance/upload
