.app-aside {
  header {
    height: 7%;
  }
  section {
    height: 76%;
    overflow: hidden;
    position: relative;
  }
  footer {
    height: 17%;
  }
  .logged-user-info {
    position: sticky;
    bottom: 10px;
  }
 
  .hide-scroll {
    position: absolute;
    top: 0px;
    bottom: 0px;
    left: 0px;
    right: -20px;
    overflow-x: hidden;
    overflow-y: scroll;
  }
}
