.width-8 {
  width:84px;
}
.content-salary {
  font-size: 10px;
  .date-field, input{
    height: 1.5rem;
    padding: 4px;
    line-height: 0;
    font-size: .6rem;
    min-height: 1rem !important;
    border-radius: 5px !important;
  }
  .salary-input-wrapper{
    padding: 0px !important;
  }
  
  .date-field{
    width: 50%;
    border-color: rgba(120, 130, 140, 0.2);
    input{
      height: 97%;
    }
    .react-date-field__picker{
      font-size: .9rem;
      line-height: 1;
    }
  }
  .date-holding-field{
    width: 100%;
  }
  .delete-icon{
    color: red;
    cursor: pointer;
  }
  .add-icon{
    color: green;
    cursor: pointer;
    margin-top: 13px;
  }
  .salary-range-wrapper{
    display: flex;
    justify-content: end;
    margin-bottom: 5px;
    flex-wrap: wrap;
  }
  .applicable-from, .applicable-till, .leaves{
    display: flex;
    margin-right: 5px;
    .salary-title{
      align-items: center;
      display: flex;
      margin: 0;
      justify-content: center;
      margin-right: 5px;
      white-space: nowrap;
    }
    .leave-field{
      width: 30%;
    }    
  }
  table{
    thead{
      font-weight: bold;
    }
    tbody{
      tr{
        td{
          padding: 8px;
        }
      }
    }
  }
}
.salary-block-title {
  padding-left: 20px;
}
.salary-blocks-margin {
  margin: 5px 0;
  &.salary-row-bg{
    background: rgba(71, 82, 93, 0.04);
    padding: 5px 0;
    border-radius: 5px;
  }
}
.salary-blocks-margin:last-child{
  margin-top: 15px;
}
.button-style-l {
  margin-top: 10px;
  margin-left: 5px;
}
.salary-border-left{
  border-left: 1px solid $border-color;
}
.salary-add-holding {
  border-width: 1px;
  padding: 2px 6px;
}
.salary-p-x {
    padding-right: 1rem !important;
    padding-left: 1rem !important;
}
.salary-title {
  font-weight: 600;
}
.salary-col-title-padding {
  div {
    padding: 0px !important;
    div {
      padding: 0px !important;
    }
  }
}
.salary-col-padding {
  padding: 0px 4px !important;
  div {
    padding: 5px 0px !important;
    div {
      padding : 0px 0px !important;
      div {
        padding: 0px 4px !important;
      }
    }
  }
}
.payslips{
  margin-top: 20px;
  .content-payslips{
    margin-left: 0px;
    margin-right: 0px;
    font-size: 10px;
    b .l-view {
      background: #fff;
    }
    .payslip_row div.row:nth-child(even){
      background-color: #F8F8FF;
      margin-left: 0px;
      margin-right: 0px;
    }
    .payslip_row div.row:nth-child(odd){
      margin-left: 0px;
      margin-right: 0px;
    }
    .m-view{
      font-weight: bold;
    }
  }
}
.salary-details{
  height: 60px;
}
.salary-add-details{
  height: 93px;
}
.salary-block{
  height: 100%;
  display: flex;
  align-items: flex-end;
  .cell{
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    &.center{
      justify-content: space-around;
    }
  }
}
.salary-add-block{
  height: 100%;
  .cell{
    height: 50%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    &.center{
      text-align: center;
      justify-content: space-around;
    } 
  }
}
@media screen and (min-width: 992px) {
  .salary-total-title {
    text-align: center;
    font-weight: 600;
  }
  .salary-total-value {
    text-align: center;
    font-size: 14px;
    font-weight: bold;
  }
  .salary-total-width {
    width: 8%;
  }
  .salary-addition-width {
    width: 48%;
    .salary-basic-width {
      width: 11%;
    }
    .salary-hra-width {
      width: 9%
    }
    .salary-conveyance-width {
      width: 20%;
    }
    .salary-medical-width {
      width: 24%;
    }
    .salary-special-width {
      width: 23%;
    }
    .salary-arrears-width {
      width: 12%;
    }
  }
  .salary-deduction-width {
    width: 44%;
    .salary-epf-width {
      width: 10%;
    }
    .salary-loan-width {
      width: 10%;
    }
    .salary-advance-width {
      width: 16%;
    }
    .salary-miscdeductions-width {
      width: 27%;
    }
    .salary-tds-width {
      width: 10%;
    }
    .salary-options-width {
      width: 27%;
      display: flex;
      justify-content: center;
      align-items: center;
    }
  }
}
@media screen and (min-width: 768px) and (max-width: 991px) {
  .salary-total{
    font-size: 10px;
  }
  .salary-total-title {
    text-align: center;
    font-weight: 600;
  }
  .salary-total-value {
    text-align: center;
  }
  
}
@media screen and (max-width: 767px) {
  .content-salary{
    .leaves{
      .leave-field{
        width: 100%;
      }
    }
  }
    .salary-border-left {
      border-left: 0px !important;
    }
    .salary-total-title {
      text-align: center;
      font-weight: 600;
      font-size: 14px;
    }
    .salary-total-value {
      text-align: center;
      font-size: 14px;
    }
    .salary-add-block {
      height: auto;
    }
}
@media screen and (max-width: 398px) {
  .salary-p-x {
      padding-right: .5rem !important;
      padding-left: .5rem !important;
  }
  .salary-title{
    font-size: 0.5rem;
  }
}
@media screen and (max-width: 768px) {
  .m-view{
    display: block;
  }
  .l-view{
    display: none;
  }
}
@media screen and (min-width: 768px) {
  .m-view{
    display: none;
  }
  .l-view{
    display: block;
  }
  .w-13{
    width: 13%;
  }
  .w-15{
    width: 15%;
  }
  .content-payslips{
    .payslip_row{
      .row{
        .w-13, .w-15{
          padding: 0 !important;
        }
      }
    }
  }
}