@mixin border-wariant($parent, $bg){
  $color: mix($bg, #fff, 10%);

  .border-left #{$parent}{
    border-left-color: $bg;
  }
}

.width-8 {
  width:84px;
}
.button-style-l {
  margin-top: 10px;
  margin-left: 5px;
}
.border-left{
  border-left: 1px solid $border-color;
}

@media screen and (max-width: 768px) {
    .border-left {
      border-left: 0px !important;
    }
}
