.logo-container {
  background-color: #284665;
  padding: 30px 40px;
  margin: 0 auto;
  border-radius: 6px;
}
@media (max-width: 767px) {
  .md-form-group{
  	padding: 14px 0 20px 0;
  	position: relative;
    transition: 1s;
  }
}
